*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to left, #f1e4c3, white);
}

.nav-links-for-mobile {
    display: none;
}

.header-name {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-left: 5%;
}

.header-name:hover {
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: darkblue;
    font-weight: bold;
}

.role {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
}

.nav-links {
    display: block;
    text-align: right;
    width: 100%;
    /* margin-right: 7%; */

}

.navlink {
    margin-right: 3%;
    padding: 2px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.navlink:hover {
    text-decoration: underline;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 500%;
    cursor: default;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width:100%;
    justify-content: center;
}

.social-media-links{
    display: flex;
    flex-direction: row;
}

.social-media-link {
    display: inline-flex;
    flex-direction: row;
    width: 30px;
    margin: 25px;
}

.main-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    justify-content: center;
}

.right-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40vh;
    justify-content: space-between;
    background:linear-gradient(to top , white, #f1e4c3);
    padding: 1%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin: 3%;
}

.container-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.contact-form-text{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;

}

.contact-form-text-descriprion{
    display: block;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;

}

.left-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.row-n{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;

}

.n{
    display: flex;
    flex-direction: row;
}

img{
    width: 20px;
}

p{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
}

.left-box-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

.whatsapp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: x-large;
    text-align: center;
}

input[type="text"]{
    width: 80%;
    height: 4vh;
    padding: 1%;
    border: none;
}

textarea{
    width: 80%;
    height: 8vh;
    padding: 1%;
    border: none;
}

.submit-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    width: 25%;
    height: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: 1%;
}

.call-and-mail {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.FC-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FC-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    margin-top: 5%;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width:850px){
    * {
        margin: 0;
        padding: 0;
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main{
        height: 70vh;
    }
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-name {
        display: block;
        text-align: center;
        width: 100%;
        
    }

    .name{
        display: block;
        text-align: center;
    }

    .role {
        display: block;
        text-align: center;
        align-items: center;
        font-size: small;
        color: gray;
    }

    .nav-links {
        display: none;
    }

    .navlink {
        font-size: small;
        text-decoration: none;
    }

    .nav-links-for-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(to right, #f1e4c3, white);
    }
    h1{
        display: flex;
        flex-direction: row;
        text-align: center;
        font-size: 300%;
    }

    .right-box{
        width: 70%;
        border: solid;
        border-width: 2px;
        border-color: #f1e4c3; 
    }

    .left-box{
        display: none;
        flex-direction: column;
        justify-content: center;
        margin-top: 50%;
        
    }
}