* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    width: 100%;
    /* height: %; */
    background: linear-gradient(to right, white, #f1e4c3)
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links-for-mobile {
    display: none;
}

.header-name {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-left: 5%;
}

.header-name:hover {
    cursor: default;
}

.nav-links {
    display: block;
    text-align: right;
    width: 100%;
    /* margin-right: 7%; */

}

.navlink {
    margin-right: 3%;
    padding: 2px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.navlink:hover {
    text-decoration: underline;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: darkblue;
    font-weight: bold;
}

.role {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
}

main {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f1e4c3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.Profile-Pic {
    filter: brightness(100%);
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 50%;
}

.name1 {
    font: 'Courier New';
}

h3 {
    font-family: "montserrat";
    letter-spacing: 5px;
    color: #333;
    font-size: small;
}

/* .details {
    display: flex;
    flex-direction: row;
    justify-content: left; */
/* } */

.details {
    display: flex;
    flex-direction: row;
    justify-content: left;
}







@media only screen and (max-width:850px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-name {
        display: block;
        text-align: center;
        width: 100%;

    }

    .name {
        display: block;
        text-align: center;
    }

    .role {
        display: block;
        text-align: center;
        align-items: center;
        font-size: small;
        color: gray;
    }

    .nav-links {
        display: none;
        padding: 1%;
    }

    .navlink {
        font-size: small;
        text-decoration: none;
    }

    .nav-links-for-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(to right, #f1e4c3, white);
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }



}