* {
    margin: 0;
    padding: 0;
}

header {

    width: 100%;
    /* height: %; */
    background: linear-gradient(to right, white, #f1e4c3)
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links-for-mobile {
    display: none;
}

.header-name {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-left: 5%;
}

.header-name:hover {
    cursor: default;
}

main {
    height: 100%;
    width: 100%;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: darkblue;
    font-weight: bold;
}

.role {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
}

.nav-links {
    display: block;
    text-align: right;
    width: 100%;
    /* margin-right: 7%; */

}

.navlink {
    margin-right: 3%;
    padding: 2px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.navlink:hover {
    text-decoration: underline;
}

.parent-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.child-container-left {
    background-color: #e0ca99;
    width: 40%;
    /* height: 100%; */
    padding-bottom: 9%;
}

.child-container-right-for-mobile {
    display: none;
}

.profile-pic-box {
    background-color: #f1e4c3;
    width: 45%;
    height: 74%;
    margin-left: 65%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #f1e4c3;
    border-width: 2px;
}

.profile-pic {
    width: 60%;
    border-radius: 50%;
    margin-left: 21%;
    margin-top: 10%;
}

.name-under-profile-pic-first {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
}

.name-under-profile-pic-last {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
}

.name-underline {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.role-under-profile-pic {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-transform: capitalize;
    margin-top: 5%;
}

.student-where {
    display: flex;
    justify-content: center;
    color: gray;
}

.footer-of-PPB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    background-color: white;
}

.social-media-links {
    display: flex;
    justify-content: center;
    width: 20px;
    margin: 17px;
}

.child-container-right {
    padding-left: 8%;
    margin-top: 10%;
    width: 20%;
}

.hello-text {
    font-size: 320%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.my-self {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5%;
    color: gray;
}

.skill-list-1 {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skill-list-2 {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    width: 50%;
    /* margin-left: 1%; */
}

.resume-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.resume {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    border-color: #11009E;
    background-color: #11009E;
    border-width: 2px;
    border-radius: 5%;
}

.resume:hover {
    color: #11009E;
    border-color: #11009E;
    background-color: white;
    transition-duration: 300ms;
}

.more-about-me {
    width: 100%;
    margin-top: 7%;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: gray
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: 1%;
}

.call-and-mail {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.FC-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FC-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    margin-top: 5%;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media only screen and (max-width:786px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-name {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
    }

    .role {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .nav-links {
        display: none;
        padding: 1%;
    }

    .navlink {
        font-size: small;
        text-decoration: none;
    }

    .nav-links-for-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(to right, #f1e4c3, white);
    }

    .parent-container {
        display: flex;
        flex-direction: column;
    }

    .child-container-left {
        width: 50%;
        height: auto;
    }

    .profile-pic-box {
        margin-left: 50%;
        width: 100%;
        height: min-content;
    }

    .student-where {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .child-container-right {
        display: none;
    }

    .child-container-right-for-mobile {
        display: flex;
        flex-direction: column;
    }

    .hello-text-mobile {

        text-align: center;
        font-size: 320%;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .my-self-mobile {
        text-align: center;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5%;
        color: gray;
    }

    .skill-list-1 {
        font-size: large;
        text-align: center;
    }

    .skill-list-2 {
        font-size: large;
        text-align: center;
    }

    .more-about-me {
        text-align: center;
        font-size: medium;

        color: gray;
        border-radius: 5px;
        font-weight: normal;
    }

    .resume-link {
        margin-bottom: 5%;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .call-and-mail {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .FC-1 {
        margin: 0;
        padding: 0;
        font-size: x-small;
        color: gray;
        margin-top: 5%;
    }

    .FC-2 {
        margin: 0;
        padding: 0;
    }

}