* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: sticky;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #dfd3c3;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: none;
}

.nav-links-for-mobile {
    display: none;
}

.header-name {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-left: 5%;
}

.header-name:hover {
    cursor: default;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
    /* margin-right: 7%; */

}

.navlink {
    margin-right: 3%;
    padding: 2px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.navlink:visited {
    color: #27296d;
}

.navlink:active {
    color: darkblue;
}

.dark-mode {
    width: 2%;
    padding: 1%;
}

.dark-mode:hover {
    cursor: pointer;
}

.navlink:hover {
    text-decoration: underline;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: #27296d;
    font-weight: bold;
}

.role {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

label {
    padding-bottom: 2%;
}

main .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main .row .box {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: #c7b198;
    background-color: #f0ece2;
    padding-top: 2%;
    padding-bottom: 2%;
}

main .row .box:hover {
    background-color: #f1e4c386;
    transition-duration: 500ms;
}

main .row .box img {
    width: 50%;
}

main .row .box svg {
    width: 50%;
}

main .row .box a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 2%;
}

main .row .box a:hover {
    padding: 1%;
    font-size: large;
    transition-duration: 500ms;
}



@media only screen and (max-width:850px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 10px;
    }

    .menu-icon {
        display: inline;
        width: 100%;
    }

    .menu-button {
        display: flex;
        width: 35px;
    }

    .header-name {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .name {
        display: block;
        text-align: center;
    }

    .role {
        display: block;
        text-align: center;
        align-items: center;
        font-size: small;
        color: gray;
    }

    .nav-links {
        display: none;
        padding: 1%;
    }

    .navlink {
        font-size: large;
        text-decoration: none;
        margin: 1%;
    }

    .nav-links-for-mobile {
        display: flex;
        justify-content: center;
        background-color: #dfd3c3;
        width: 100%;
        padding-left: 2%;
        border: none;
    }

    .nav-links-for-mobile a {
        font-size: 90%;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    label {
        padding-bottom: 2%;
    }

    label h1 {
        font-size: 150%;
    }

    main .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .row .box {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid;
        border-color: #c7b198;
        background-color: #f0ece2;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: center;
    }

    main .row .box:hover {
        background-color: #f1e4c386;
        transition-duration: 500ms;
    }

    main .row .box img {
        width: 20%;
        padding: 0;
        margin: 0;
    }

    main .row .box a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        padding: 2%;
    }

}